body {  background-image:url("sunset\ florencec.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  background-position: center;
  }
  
/*alle foto's*/
 img {
    max-width: 100%;
 }

 /* foto index.html*/
.krakau img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*menubalk styling*/
nav ul {
  padding: 0;
  overflow: hidden;
  background-color:darksalmon;
}

/*menubalk horizontaal*/
nav li {
  float: left;
}

/*menubalk blokken, a zodat tekst wit & geen link is*/
li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/*hover*/
li a:hover {
  background-color:darkgrey;
}

/*zorgt dat actieve pagina grijs wordt*/
.active {
  background-color:dimgray;
}

/*haalt stipjes in nav balk weg*/
nav ul li {
  display:inline; 
}

/*footer*/
.footer {
  text-align: center;
  background-color: darksalmon;
  padding: 1px;
}


#planner {
width: 100%;
}

#planner td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

table {
background-color: darksalmon;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container img {
  width: 50%;
}

.treinreizen img {
display: block;
margin-left: 0em;
margin-right: auto;
border-radius: 50%;
width: 50%;
border: 5px solid #3d3c3c;
transition: all 2s ease;
}

.treinreizen img:hover {
  margin-left: 8em;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.treinreizen {
  flex: 33.33%;
  padding: 5px;
}

.photos {
  text-align: center;
  margin: 20px;
}

.photos {
  display: flex;
  justify-content: space-around;
  
}

.photos img {
  width: 200px;
  height: auto;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.photos img:hover {
  transform: scale(1.1);
  border-color: #555;
}
