body {  background-image:url("sunset\ florencec.jpeg");
  }

 img {
    max-width: 100%;
 }



 
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darksalmon;
  }
  
  nav li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:darkgrey;
  }
  
  .active {
    background-color:dimgray;
  }

  nav ul li {
    display: inline;
    
 }
  
footer {
    text-align: center;
}

table {
  background-color: darksalmon;
}

