body {  background-image:url("sunset_florencec.jpeg");
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  background-position: center;
  }
  
/*alle foto's*/
 img {
    max-width: 100%;
 }

 /* foto index.html*/
.krakau img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*menubalk styling*/
nav ul {
  padding: 0;
  overflow: hidden;
  background-color:darksalmon;
}

/*menubalk horizontaal*/
nav li {
  float: left;
}

/*menubalk blokken, a zodat tekst wit & geen link is*/
li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/*hover*/
li a:hover {
  background-color:darkgrey;
}

/*zorgt dat actieve pagina grijs wordt*/
.active {
  background-color:dimgray;
}

/*haalt stipjes in nav balk weg*/
nav ul li {
  display:inline; 
}

/*Zorgt dat alle h1's netjes inspringen*/
h1 {
  margin-left: 10px;
}

/*Zorgt dat alle p's netjes inspringen*/
p {
  margin-left: 10px;
}

/* tekst op main page in midden */
.mainn p {
  display: flex;
  justify-content: center;
}

/* bestemmingen lijstje in het midden&font */
main li{
  display: flex;
  justify-content: center;
  font-variant-caps: all-small-caps;
  font-size: 2em;
}

/*footer*/
.footer {
  text-align: center;
  background-color: darksalmon;
  padding: 1px;
  margin-top: 30px;
}

/*tabel over hele pagina en kleur*/
#planner {
width: 100%;
background-color: darksalmon;
}

/*tabel, randjes tussen vakken*/
#planner td {
border: 1px solid #ddd;
padding: 8px;
}

/*plaatjes innsbruck*/
.flex-container {
  display: flex;
  justify-content: space-around;
}

/*plaatjes inssbruck*/
.flex-container img {
  width: 20em;
}

/* treinreizen */
.row img {
display: block;
margin-left: 0em;
margin-right: auto;
border-radius: 50%;
width: 50%;
padding: 5px;
border: 5px solid #3d3c3c;
transition: all 2s ease;
}

/* verplaatst de "raampjes"*/
.row img:hover {
  margin-left: 8em;
}

/* zet de plaatjes naast elkaar */
.row{
  display: flex;
}

/* bestemmingen fotos placement*/
.photos {
  text-align: center;
  margin:3vh;
}

/* styling vd fotos */
.photos img {
  width: 14em;
  height: auto;
  margin: 1em;
  border: 5px solid #ddd;
  transition: transform 450ms ease;
}

.photos img:hover {
  transform: scale(1.1);
  border-color: #555;
}

